* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 90%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(222, 228, 234); 
    background-color: rgba(0, 0, 0, 0.871);
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.871);
    height: 10%;
}

#main-title {
    font-size: 36px;
    font-family: "Pixelify Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgb(222, 228, 234);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 68%;
    height: 100%;
    background-color: rgb(45, 45, 45);
    column-gap: 32px;
    overflow-y: scroll;
}

.sketch-container {
    width: 620px;
    height: 620px;
    padding: 10px;
    margin: 36px auto;
}

.grid-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    cursor: cell;
}

/* .grid-cell {
    outline: 1px solid rgba(119, 60, 60, 0.5);
} */

.canvas-overlay {
    background-color: rgb(255, 255, 255);
    margin-bottom: 36px;
    display: none;
}

span {
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.color-toolbox {  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 16%;
    height: 100%;
    background-color: rgb(30, 30, 30);
}


.color-toolbox {
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(88, 88, 88, 0.523);; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(114, 114, 114, 0.614); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85); 
}

.section-header {
    width: 100%;
    padding: 10px;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(88, 88, 88, 0.25);
    outline: 1px solid rgba(88, 88, 88, 0.523);
}

.section-title, .range-slider-title {
    font-family: 'Roboto';
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: rgba(255, 255, 255, 0.90); 
}

.color-picker, .slider-controls, .color-palette, .layout-controls, .editor-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 12px;
    gap: 26px 24px;
    width: 165px;
}

.color-palette {
    margin-bottom: 60px;
    row-gap: 20px;
}

.select-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

select {
    border: none;
    background-color: rgba(88, 88, 88, 0.229);
    color: rgba(240, 248, 255, 0.859);
    width: 67%;
    height: 32px;
    font-family: 'Roboto';
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    padding: 4px;
}

select option {
    border: none;
    background-color: rgba(34, 34, 34);
    color: rgba(240, 248, 255, 0.859);
}

.color-swatches {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px 4px;
    padding: 3px;
    overflow-y: scroll;
    height: 105px;
}

.color-block {
    width: 27px;
    height: 27px;
    outline: 1px solid rgba(88, 88, 88, 0.523);
    background-color: rgb(255, 255, 255);
}

.color-swatch {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.color-block:hover, #active-swatch {
    outline: 2.25px solid rgba(240, 248, 255, 0.859);
}

.color-block:hover {
    transition: outline 0.25s 0.05s ease-in;
}

.swatch-icon {
    font-family: 'Roboto';
    font-weight: 100;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: rgba(240, 248, 255, 0.859);
}

#color-panel {
    position: relative;
    cursor: crosshair;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgba(88, 88, 88, 0.523);  
}

#drag-pointer {
    width: 12px;
    height: 12px;
    border: 2px solid rgba(255, 255, 255, 0.90);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none; 
}

#hue-slider-panel {
    position: relative;
    cursor: grab;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgba(88, 88, 88, 0.523);
}

.hue-slider-thumb {
    width: 7.5px;
    height: 20px;
    top: 0px;
    left: 0px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    pointer-events: none; 
    margin-left: -3.75px;
}

.color-values {
    display: flex;
    flex-flow: column wrap;
    height: 140px;
    gap: 24px;
    font-family: 'Roboto';
    font-size: 12px;
    color: rgba(185, 188, 192, 0.705); 
}

.color-models {
    display: flex;
    column-gap: 16px;
}

.rgb-values, .hsl-values {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 16px;
}

.color-label {
    font-weight: 500;
    top: 3px;
    left: 5px;
    position: absolute;
}


.color-field {
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.color-input {
    border: none;
    width: 100%;
    height: 20px;
    text-align: end;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    padding: 6px 8px;
    color: rgba(231, 231, 231, 0.85);
    background-color: rgb(34, 34, 34);
    outline: 1px solid rgba(88, 88, 88, 0.523);
}

#hex-input {
    text-transform: uppercase;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}

input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
}
  
.slider-controls {
    margin-top: 12px;
}

.alpha-controls, .brush-size-controls {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.range-slider-title {
    font-size: 11.5px;
    font-weight: 400;
}

#brush-size-container, #alpha-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 12px;
}

.range-slider-input {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 70%;
    height: 4px;
    background-color: rgba(186, 186, 186, 0.95);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.range-slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;  
    width: 18px;
    height: 18px;
    background-color: rgb(95, 95, 95);
    border: none rgb(0, 0, 0);
    border-radius: 50%;
    transition: transform 0.30s 0.03s ease-in-out,
                box-shadow 0.30s 0.03s ease-in-out;
    
}

.range-slider-input::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 0px 6px rgba(73, 143, 94, 0.495);
}

.range-slider-input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background-color: rgb(95, 95, 95);
    border: none rgb(0, 0, 0);
    border-radius: 50%;
    transition: transform 0.30s 0.03s ease-in-out,
                box-shadow 0.30s 0.03s ease-in-out;
}

.range-slider-input::-moz-range-thumb:hover {
    box-shadow: 0px 0px 0px 6px rgba(73, 143, 94, 0.495);
}



#brush-size-input, #alpha-input {
    width: 30%;
    padding: 4px 6px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 16%;
    height: 100%;
    background-color: rgb(30, 30, 30);
    /* overflow-y: scroll; */
}

.layout-controls {
    gap: 22px;
}

.row-controls, .column-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 105px;
} 

.row-controls, .column-controls, .add-button, .remove-button {
    outline: 2.5px solid rgba(128, 128, 128, 0.523); 
}

.control-header {
    padding: 8px;
}
.control-title, .grid-input, .add-button, .remove-button {
    font-family: "Pixelify Sans";
    font-weight: 100;
    font-optical-sizing: auto;
    font-style: normal;
}

.control-title {
    font-size: 20px;
    font-size: 16px;
    letter-spacing: 2.5px;
    color: rgba(255, 255, 255, 0.90); 
}

.controls {
    display: flex;
    width: 100%;
    height: 75px;
    outline: 2.5px solid rgba(88, 88, 88, 0.523); 
}

.grid-input {
    border: none;
    text-align: center;
    color: rgb(231, 231, 231);
    background-color: rgba(226, 226, 226, 0.249);
    /* pointer-events: none; */
}

.grid-input, .button-controls {
    width: 50%;
    height: 100%;
    font-size: 24px;
}

.button-controls {
    display: flex;
    flex-direction: column;
}

.add-button, .remove-button {
    border: none;
    color: rgb(231, 231, 231);
    font-size: 24px;
    height: 50%;
    padding: 1px 6px;
    cursor: pointer;
}

.history-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px 20px;
    width: 165px;
}


.history-item {
    width: 50%;
    height: 60px;
    padding: 8px 0px;
}

.history-button {
    border: none;
    border-radius: 2.5px;
    width: 100%;
    height: 100%;
    box-shadow: 2.5px 4px 0 0 rgb(128, 128, 128, 0.523);
    outline: 2.5px solid rgba(128, 128, 128, 0.523);
    cursor: pointer;  
}

.add-button, .remove-button, .history-button, .tool-button {
    /* Create a two-color gradient split at 50% */
    background: linear-gradient(to right, rgba(226, 226, 226, 0.249) 50%, rgba(64, 64, 64, 0.312) 50%);

    /* Start the background at the right side (shows dark color first) */ 
    background-position: right;

    /* Stretch the background to 200% width for sliding effect (height becomes 'auto') */
    background-size: 200%;

    /* Animate the background position for a smooth sliding effect */
    transition: background-position 0.35s 0.05s ease-in-out,
                background-size 0.35s 0.05s ease-in-out,
                transform 0.35s 0.05s ease-in-out; 
}

.history-button:active {
    /* Move the button down and slightly back when active */
    transform: translate3d(0, 5px, -10px);

    box-shadow: none;
}

.add-button:active, .remove-button:active, .history-button:active, .zoom-button:active, #save-button:active {
    /* Change background color when buttons active */
    background-color: rgb(35, 57, 39);
}

.add-button:hover, .remove-button:hover, .history-button:hover, .tool-button:hover {
    /* Shift the background to the left to reveal grey color */
    background-position: left;

    /* Keep the same smooth transition effect on hover */
    transition: background-position 0.35s 0.05s ease-in-out;
}

.history-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.35s 0.05s ease-in-out;
}

.history-icon-container:hover {
    /* Slightly shrink the button on hover for a press effect */
    transform: scale(0.90);

    /* Apply smooth transition on scaling */
    transition: all 0.35s 0.05s ease-in-out;
}

.history-icon {
    width: 28px;
    height: 28px;
    opacity: 0.825;
}

.editor-tools {
    gap: 22px 18px;
}

.editor-tools-header {
    margin-top: 8px;
}

.drawing-tools, .grid-tools, .zoom-tools, .save-tool {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 12px;
}

.drawing-tools {
    width: 175px;
}

.tool-button {
    width: 46px;
    height: 46px;
    padding: 8px;
    border-radius: 2.5px;
    outline: 2.5px solid rgba(128, 128, 128, 0.523);
    opacity: 0.825;
    cursor: pointer;         
}

.tool-button:hover {
    transform: translate3d(0, 5px, -10px);
    transition: background-position 0.35s 0.05s ease-in-out,
                background-size 0.35s 0.05s ease-in-out,
                transform 0.35s 0.05s ease-in-out; 
}

.tool-icon {
    width: 100%;
    height: 100%;
}

.active-drawing-tool, .active-grid-tool, .zoom-threshold {
    transform: translate3d(0, 5px, -10px);
    background: none;
    background-color:  rgb(82, 98, 85);
    transition: all 0.35s 0.05s ease-in-out;
    outline: none;
}